.container {
  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  input {
    width: 100%;
    padding: 0 1.5rem;
    height: 4rem;

    border-radius: 0.25rem;
    border: 1px solid var(--input-border);
    background: var(--input-background);

    font-weight: 400;
    font-size: 1rem;

    &::placeholder {
      color: var(--gray-300);
    }

    & + input {
      margin-top: 1rem;
    }
  }

  textarea {
    width: 100%;
    height: 6rem;
    margin-top: 1rem;
    padding: 1rem;

    border-radius: 0.25rem;
    border: 1px solid var(--input-border);
    background: var(--input-background);

    font-weight: 400;
    font-size: 1rem;

    &::placeholder {
      color: var(--gray-300);
    }
  }
  
  button[type="submit"] {
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    margin-top: 1.5rem;
    
    font-size: 1rem;
    font-weight: 600;

    background: var(--yellow-500);
    color: var(--white);
    border-radius: 0.25rem;
    border: 0;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.reactModalOverlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.reactModalContent {
  width: 100%;
  max-width: 576px;
  background: var(--gray-800);
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}

.reactModalClose {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}