.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  h1 {
    span {
      color: var(--cyan-500);
    }
  }

  div {
    margin-left: 8rem;
    
    span {
      font-size: 1.2rem;
      transition: filter 0.2s;
      cursor: pointer;
    }

    &:hover {
      filter: brightness(0.8);
    }
  }
}